<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>
    <div id="app3">
      <span v-if="seen">Now you see me</span>
    </div> 

    <div id="app4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text}}
        </li>
      </ol>
    </div>

    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app7">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>

    <div id="app8">
      <p>{{ foo}}</p>
      <button  v-on:click="foo = 'baz'">Change it!</button>
    </div>

    <div id="app9">
      <p>app9 for console</p>
    </div>

    <div id ="app10">
      <span>Message: {{ msg }}</span>
      <span v-once>This will never change: {{ msg }}</span>
      <p><button v-on:click="reverseMsg">Reverse Message</button></p>
      <p>Using mustaches: {{ rawHtml }}</p>
      <p>Using v-html directive: <span v-html="rawHtml"></span></p>

      <div v-bind:id = "dynamicId"></div>
      <button v-bind:disabled="isButtonDisabled">Button</button>
      <p>Upper Button is {{ isButtonDisabled ? 'disabled' : 'abled' }}</p>

      <p  v-if="seen">Now you see me</p>

      <a v-bind:href="url">Ruby documents</a>
      <a v-on:click="doSomething">alert</a>
      <!-- <a v-bind:[attributeName]="url">DynamicAttribute</a>
      <a v-on:[eventName]="doSomething">DynamicalOn</a> -->

      <form v-on:submit.prevent="onSubmit">
        <input v-model='textPrevent'>
        <button type="submit">submit</button>
      </form>

      <a :href="url">Ruby documents</a>
      <a @click="doSomething">alert</a>
    </div>

    <script src="index.js"></script>
  </body>
</html>